/*
本ソフトウェアはフォントの再配布に該当しないようにフォントファイルを抜いた状態でGitHubにて配布しています。
Readme等の見た目通りのフォントで本ソフトウェアを使用する場合、
にくまるフォント様のホームページよりフォントを直接ダウンロードし以下の対応を行ってください。
1. fontsフォルダに「07にくまるフォント.otf」を設置
2. 23行目の文が「font-family: "clockFont";」となるように前後の記号2つを削除する

にくまるフォント様公式サイト
http://www.fontna.com/freefont/1651/

また、フォントを任意のものに変更したい場合、以下の対応で可能です
1. fontsフォルダ内にotf, ttf等のフォントファイルを配置
2. 19行目の「src: url(./../fonts/07にくまるフォント.otf);」の「07にくまるフォント.otf」の部分を配置したフォントファイル名に変更
*/

/* フォントの設定 */
@font-face {
    font-family: "clockFont";
    src: url(./../fonts/07にくまるフォント.otf); /* 初期ダウンロード状態ではこちらのファイルは含まれていません */
}

body {
    /* font-family: "clockFont"; */
}

.clockDateWBorder {
    font-size: 31px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke:10px rgb(61, 61, 61);
    margin: 0em 0px;
}

.clockDateNoBorder {
    font-size: 31px;
    color: rgb(255, 255, 255);
    margin: 0em 0px;
}

.clockTimeWBorder {
    font-size: 70px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke:10px rgb(61, 61, 61);
    margin: 0em 0px;
}

.clockTimeNoBorder {
    font-size: 70px;
    color: rgb(255, 255, 255);
    margin: 0em 0px;
}

