/****************************************************************************
【fontSettings.cssファイルについて】
このファイルではフォントの設定を行えます。

設定方法は以下の２種類があるため、お好きな方をご利用ください。

1. PCにインストール済みのフォントを指定したい場合
2. PCに未インストールのフォントを指定したい場合

なお、未インストールのフォントを指定する方が手順が少し難しいため、
不慣れな方はまずフォントファイルをPCにインストールしてから
そのフォントを指定する方法をおすすめします
****************************************************************************/

/*
1. インストール済みのフォントを指定

こちらはPCにインストール済みのフォントを指定する方法です。
下記の「"07にくまるフォント"」のようにコンマ区切りでフォント名を追加することで任意のフォントに変更が可能です。

また、一番左にあるフォントが優先されるため
任意のフォントを指定したい場合は「07にくまるフォント」を書き換える、
もしくはその左に指定したいフォント名を同じ表記方法で記述してください。

例）「font-family: "指定したいフォント名", "07にくまるフォント", "HGP創英角ﾎﾟｯﾌﾟ体"」
*/
body {
    font-family: "07にくまるフォント", "HGP創英角ﾎﾟｯﾌﾟ体", "けいふぉんと", "GN-キルゴUかなNA", "ニコモジ＋", "零ゴシック";
}


/*
2. 未インストールのフォントを指定

こちらはPCに未インストール状態のフォント等、
フォントファイル(otf, ttf等）を直接プロジェクト内で管理してフォントを指定する方法です。

上級者用の詳細設定なため、
基本的には前述されている「1. インストール済みのフォントを指定」をご覧ください。
そちらでは対象のフォントを設定できない場合に限り、こちらの手順をご活用ください。

【対応手順】
1. 指定したいフォントファイル(ttf, otf等）を用意し、本プロジェクト内の「fonts」フォルダに配置する
2. 設定を有効にするため、50行目の「スラッシュ*」、58行目の「*スラッシュ」の記号を削除する（コメントアウトを解除する）
3. 53行目の「<fontsフォルダに配置したファイル名>」を配置したフォントファイル名に変更
   例）「07にくまるフォント.otf」をfontsファイルに配置した場合、以下のように変更します
       -> 「src: url(./../fonts/07にくまるフォント.otf);」
4. 27～29行のソースコードを全てコメントアウト、もしくは削除する
*/
/*
@font-face {
    font-family: "customFont";
    src: url(./../fonts/<fontsフォルダに配置したファイル名>); 
}
body {
    font-family: "customFont";
}
*/
